<section class="simple-page description-block">
    <h1>Оплата и доставка (Заголовок H1)</h1>
    <p>еталлочерепица – самый популярный и распространённый материал для облицовки крыши. Большой спрос на металлочерепицу объясняется доступностью и долговечностью материала, а также его простой установкой. Металлическая черепица позволяет защитить жилье от всех видов климатического воздействия (осадки, шквалистый ветер, УФ-излучение, высокие и низкие температуры), а также придать зданию эстетичный внешний вид.</p>
    <h2>Заголовок H2</h2>
    <p>Металлочерепица – самый популярный и распространённый материал для облицовки крыши. Большой спрос на металлочерепицу объясняется доступностью и долговечностью материала, а также его простой установкой. Металлическая черепица позволяет защитить жилье от всех видов климатического воздействия (осадки, шквалистый ветер, УФ-излучение, высокие и низкие температуры), а также придать зданию эстетичный внешний вид.</p>
    <h3>Заголовок H3</h3>
    <p>Металлочерепица – самый популярный и распространённый материал для облицовки крыши. Большой спрос на металлочерепицу объясняется доступностью и долговечностью материала, а также его простой установкой. Металлическая черепица позволяет защитить жилье от всех видов климатического воздействия (осадки, шквалистый ветер, УФ-излучение, высокие и низкие температуры), а также придать зданию эстетичный внешний вид.</p>
</section>
