$green_color: #a9cc52;
$b_green_color: #96b549;
$yellow_color: #fad652;
$orange_color: #ffa100;
$blue_color: #357fd1;
$b_blue_color: #003a64;
$b_grey_color: #3d3e3d;
$d_grey_color: #383938;
$l_grey_color: rgb(217, 217, 217);
$grey_color: #8b8b8b;
