@import "constants";
@import "header";
@import "footer";
@import "main-info-slider";
@import "index-catalog";
@import "about-company";
@import "partners";
@import "why-our-company";
@import "contacts";
@import "breadcrumbs";
@import "catalog-services/services";
@import "font";
@import "simple-page/simple-page";
body {
    font-family: 'Play', sans-serif;
    margin-top: -16px;
    font-size: 14px;
    color: $b_grey_color;
    .container {
        max-width: 1200px;
    }
}
img {
    max-width: 100%;
}
ul {
    padding: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
input {
    &:focus {
        &::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
        &::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
        &:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
        &:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
    }
}
input, button {
    outline: none;
    transition: .3s;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 0;
}
h4 {
    font-size: 18px;
    font-weight: normal;
}
.btn-yellow {
    background: $yellow_color;
    color: #fff;
    font-size: 14px;
    &:hover {
        background: $orange_color;
    }
    border: 0;
}
a {
    display: inline-block;
    transition: .3s;
    text-decoration: none;
    &.icon-white-bar {
        &::before {
            display: inline-block;
            margin-right: 10px;
            transform: translateY(15%);
            color: #fff;
            content: '\e900';
            width: 15px;
            height: 12px;
            font-family: "FixStoreIcons";
        }
    }
}
.link-show-more {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    &:hover {
        span {
            border-color: transparent;
        }
    }
    &::before {
        content: '\e900';
        font-family: "FixStoreIcons";
        margin-right: 10px;
        background-repeat: no-repeat;
        width: 16px;
        height: 12px;
    }
    span{
        transition: .3s;
        color: $b_grey_color;
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid $l_grey_color;
    }
}
.slider-btn{
    position: absolute;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    z-index: 1;
    cursor: pointer;
    font-family: "FixStoreIcons";
    border-radius: 30px;
    background: #fff;

    &:hover {
        &::after {
            color: $yellow_color;
        }
    }
    &::after {
        transition: .3s;
        color: $green_color;
        content: "\e902";
        font-size: 26px;
        line-height: 26px;
    }
}
.slider-btn.slider-next{

}
.slider-btn.slider-prev{
    transform: translateY(-50%) rotate(180deg);
}
.names-undercategory {
    a {
        position: relative;
        padding: 10px 30px;
        font-size: 16px;
        color: $grey_color;
        &.active {
            color: $green_color;
            &::before {
                background-color: $green_color;
                border-color: $green_color;
            }
        }
        &:hover {
            color: $green_color;
            &::before {

                border-color: $green_color;
            }
        }
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border: 1px solid $grey_color;
            position: absolute;
            top: 15px;
            left: 10px;
            border-radius: 10px;
            transition: inherit;
            background-color: transparent;
        }
    }
    li {
        border-top: 1px solid $l_grey_color;
        &:last-child {
            border-bottom: 1px solid $l_grey_color;
        }
    }
}
.description-block {
    h2, h3 {
        font-weight: normal;
        margin: 24px 0;
        text-align: left;
        text-transform: none;
        padding: 0;
        line-height: 42px
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        color: $grey_color;
        margin: 0;
        line-height: 27px;
    }
}
