.simple-page {
    padding-bottom: 60px;
    h1 {
        font-weight: normal;
        margin: 24px 0;
        text-align: left;
        text-transform: none;
        padding: 0;
        line-height: 42px
    }
}
