<header>
    <div class="container-header-menu">
        <div class="container">
            <ul class="header-menu">
                <li><a href="#" class="active">Главная</a></li>
                <li><a href="#" class="icon-white-bar">Услуги</a></li>
                <li><a href="#">Оплата и доставка</a></li>
                <li><a href="#">Выполненные работы</a></li>
                <li><a href="#">Прайс-лист</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="container-header-logo-and-links">
            <a href="/" class="logo">
                <img src="../images/logo.png" alt="logotype">
            </a>
            <p class="text-header-description">Описание нашей <br> компании г Хабаровск</p>
            <ul class="header-links">
                <li><a href="#"><img src="../images/icons/line-green.png" alt="Line"><span>Бесплатный замер</span></a></li>
                <li><a href="#"><img src="../images/icons/calculator-green.png" alt="Calculator"><span>Расчитать стоимость</span></a></li>
                <li><a href="#"><img src="../images/icons/phone-with-arrow-green.png" alt="Call"><span>Заказать звонок</span></a></li>
                <li><a href="tel:+7 (421) 275-92-52"><img src="../images/icons/phone-green.png" alt="Phone"><span>+7 (421) <b>275-92-52</b></span></a></li>
            </ul>
        </div>
        <div class="container-header-category-and-search row align-items-center">
            <ul class="container-header-category col-9">
                <li>
                    <a href="#" class="item-header-category">Кровля</a>
                </li>
                <li>
                    <a href="#" class="item-header-category">Фасад</a>
                </li>
                <li>
                    <a href="#" class="item-header-category">Водосточные системы</a>
                </li>
                <li>
                    <a href="#" class="item-header-category">Комплектующие</a>
                </li>
            </ul>
            <div class="container-search col-3">
                <input type="text" name="search" placeholder="Введите фразу для поиска" class="input-search">
                <button class="btn-search"><i class="f-search"></i></button>
            </div>
        </div>
    </div>
</header>
