<section class="index-catalog">
    <div class="container">
        <h2>Каталог</h2>
        <ul class="container-main-catalog-tabs">
            <li class="active"><span>Наша продукция</span></li>
            <li><span>Наши услуги</span></li>
        </ul>
        <div class="container-items-index-catalog">
            <div class="container-catalog-products swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item-catalog-product">
                            <img src="../images/roof-bricks.png" alt="Bricks">
                            <h4 class="title-category"><a href="#">Кровля</a></h4>
                            <ul class="names-undercategory">
                                <li><a href="#">Фальцевая кровля</a></li>
                                <li><a href="#">Металлочерепица</a></li>
                                <li><a href="#">Гибкая черепица</a></li>
                                <li><a href="#">Композитная черепица</a></li>
                                <li><a href="#">Натуральная черепица</a></li>
                                <li><a href="#">Профнастил</a></li>
                            </ul>
                            <a href="#" class="link-show-more"><span>Показать еще</span></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-catalog-product">
                            <img src="../images/fasad.png" alt="">
                            <h4 class="title-category"><a href="#">Фасад</a></h4>
                            <ul class="names-undercategory">
                                <li><a href="#">Металлические фасады</a></li>
                                <li><a href="#">Фасад из древесно-полимерного композита</a></li>
                                <li><a href="#">Фиброцементные панели</a></li>
                                <li><a href="#">Виниловый сайдинг и блок-хаус</a></li>
                                <li><a href="#">Металлический сайдинг и блок-хаус</a></li>
                            </ul>
                            <a href="#" class="link-show-more"><span>Показать еще</span></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-catalog-product">
                            <img src="../images/pumps.png" alt="Pumps">
                            <h4 class="title-category"><a href="#">Водосточные системы</a></h4>
                            <ul class="names-undercategory">
                                <li><a href="#">Водосточные системы Аквасистем</a></li>
                                <li><a href="#">Водосточные системы Престиж</a></li>
                                <li><a href="#">Водосточные системы Дёке</a></li>
                            </ul>
                            <a href="#" class="link-show-more"><span>Показать еще</span></a>
                        </div>
                    </div>
                </div>

                <div class="catalog-button-prev slider-btn slider-prev"></div>
                <div class="catalog-button-next slider-btn slider-next"></div>
            </div>
        </div>
    </div>
</section>
