<section class="main-info-slider">
    <div class="container">
        <div class="info-slider swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="block-info-slider">
                        <div class="container-text-info-block">
                            <p class="text-info-block">Фасадные и кровельные материалы <b>напрямую</b> от производителя</p>
                            <a href="#" class="slider-info-link"><span>Перейти в каталог</span></a>
                        </div>
                        <div class="container-img-info-block">
                            <img src="../images/roof.png" alt="Roof">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block-info-slider">
                        <div class="container-text-info-block">
                            <p class="text-info-block">Фасадные и кровельные материалы <b>напрямую</b> от производителя</p>
                            <a href="#" class="slider-info-link"><span>Перейти в каталог</span></a>
                        </div>
                        <div class="container-img-info-block">
                            <img src="../images/roof.png" alt="Roof">
                        </div>
                    </div>
                </div>

            </div>

            <div class="info-slider-pagination"></div>

            <div class="info-slider-button-prev slider-btn slider-prev"></div>
            <div class="info-slider-button-next slider-btn slider-next"></div>
        </div>
        <div class="container-main-extra-info row">
            <div class="col-3 item-extra-info"><img src="../images/icons/building-white.png" alt="Build"><span class="text-extra-info">Склад и производство находятся в Казани</span></div>
            <div class="col-3 item-extra-info"><img src="../images/icons/calculator-white.png" alt="Calculator"><span class="text-extra-info">Выезд, замеры и консультация - 0 руб.</span></div>
            <div class="col-3 item-extra-info"><img src="../images/icons/car-white.png" alt="Car"><span class="text-extra-info">Быстрая и бесплатная доставка</span></div>
            <div class="col-3 item-extra-info"><img src="../images/icons/currency-white.png" alt="Currency"><span class="text-extra-info">Возврат товара в течение 30 дней</span></div>
        </div>
    </div>
</section>
