<section class="main-contacts">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="container-top-contacts-section">
                    <h2>Контакты</h2>
                    <ul class="header-links">
                        <li>
                            <a href="tel:+7 (421) 275-92-52"><img src="../images/icons/phone-white.png" alt="Phone"><span>+7 (421) 275-92-52</span></a>
                        </li>
                        <li>
                            <a href="mailto:office@website.ru"><img src="../images/icons/mail-white.png" alt="Email"><span>office@website.ru</span></a>
                        </li>
                    </ul>
                </div>
                <p class="container-company-address">Мы находимся по адресу: <a href="https://goo.gl/maps/uWJeMAVUZJu" target="_blank">г. Хабаровск, ул. Пермская, 5</a></p>
                <div class="container-contacts-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.7454302992596!2d135.12591621549504!3d48.48059637925224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5efac20b1f774c61%3A0xc7ae4c60126e025f!2z0J_QtdGA0LzRgdC60LDRjyDRg9C7LiwgNSwg0KXQsNCx0LDRgNC-0LLRgdC6LCDQpdCw0LHQsNGA0L7QstGB0LrQuNC5INC60YDQsNC5LCDQoNC-0YHRgdC40Y8sIDY4MDAxNA!5e0!3m2!1sru!2sua!4v1554850962819!5m2!1sru!2sua" width="800" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-4 container-ask-question">
                <h4>Есть вопросы?</h4>
                <div class="container-form-feedback">
                    <form>
                        <div class="container-form-input">
                            <span><img src="../images/icons/person-white.png" alt="Name"></span>
                            <input type="text" name="name" placeholder="Иванов Иван Иванович">
                        </div>
                        <div class="container-form-input">
                            <span><img src="../images/icons/mobile-white.png" alt="Phone"></span>
                            <input type="tel" name="phone" placeholder="Введите номер телефона">
                        </div>
                        <div class="container-form-input">
                            <span><img src="../images/icons/brush-white.png" alt="Question"></span>
                            <input type="text" name="question" placeholder="Введите Ваш вопрос">
                        </div>
                        <button class="form-btn">Получить ответ</button>
                        <label><input type="checkbox" hidden><span class="block-checkbox"></span>Согласен с <a href="#">политикой конфиденциальности</a></label>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
