<section class="our-partners">
    <div class="container">
        <h2>Наши партнеры</h2>
        <div class="container-partner-slider">
        <div class="partner-slider swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="block-partner-slider">
                        <img src="../images/docke.png" alt="Docke">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block-partner-slider">
                        <img src="../images/4masters.png" alt="4masters">
                    </div>
                </div><div class="swiper-slide">
                    <div class="block-partner-slider">
                        <img src="../images/rukki.png" alt="rukki">
                    </div>
                </div><div class="swiper-slide">
                    <div class="block-partner-slider">
                        <img src="../images/icopal.png" alt="icopal">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block-partner-slider">
                        <img src="../images/katepal.png" alt="katepal">
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>


        </div>

            <div class="partner-button-prev slider-btn slider-prev"></div>
            <div class="partner-button-next slider-btn slider-next"></div>
        </div>

    </div>
</section>
