<section class="why-our-company">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="container-why-we-text">
                    <h2>6 причин, почему стоит обратиться именно к нам</h2>
                    <p>Наше главное преимущество - комплексный системный подход к решению задач клиента, качество предоставляемых услуг, соблюдение установленных сроков, внимание и забота о клиенте, разумные цены и индивидуальный подход.</p>
                </div>
            </div>
            <div class="col-4">
                <ul class="list-why-our-company">
                    <li>
                        <img src="../images/icons/anonymus-green.png" alt="Anonymus">
                        <div class="container-list-text">
                            <h4>Прозрачность</h4>
                            <p>Экономьте работая с нами, без пререплаты, посредников и скрытых платежей</p>
                        </div>
                    </li>
                    <li>
                        <img src="../images/icons/scissors-green.png" alt="Scissors">
                        <div class="container-list-text">
                            <h4>Скидки и акции</h4>
                            <p>Предоставляем существенные скидки от объемов, а так же проводим выгодные акции</p>
                        </div>
                    </li>
                    <li>
                        <img src="../images/icons/worker-green.png" alt="Worker">
                        <div class="container-list-text">
                            <h4>Полный сервис</h4>
                            <p>Производство, поставка, монтаж - Вы все можете заказать в одном месте</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-why-our-company">
                    <li>
                        <img src="../images/icons/calendar-green.png" alt="Calendar">
                        <div class="container-list-text">
                            <h4>Опыт</h4>
                            <p>На рынке с 2012 года, более 200 довольных клиентов по всей Республике Татарстан</p>
                        </div>
                    </li>
                    <li>
                        <img src="../images/icons/shield-green.png" alt="Defend">
                        <div class="container-list-text">
                            <h4>Производство</h4>
                            <p>Производим и реализуем только по настоящему качественную, и проверенную продукцию</p>
                        </div>
                    </li>
                    <li>
                        <img src="../images/icons/arrow-with-curency.png" alt="Currency">
                        <div class="container-list-text">
                            <h4>Стоимость</h4>
                            <p>Предлагаем материалы и монтаж по доступным ценам. В среднем, цены на 17% ниже по рынку</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
