<section class="list-services">
    <h1>Кровельные работы</h1>
    <div class="container-items-service">
        <div class="row">
            <div class="col-4">
                <div class="container-item-service">
                    <a href="#" class="container-img-item-service">
                        <img src="../../images/service1.png" alt="Service">
                    </a>
                    <a href="#" class="title-item-service">Монтаж фальцевой кровли</a>
                    <span class="info-item-service">от 256 руб/м<span>2</span></span>
                    <a href="#" class="btn-show-more btn-yellow">Подробнее...</a>
                </div>
            </div>
            <div class="col-4">
                <div class="container-item-service">
                    <a href="#" class="container-img-item-service">
                        <img src="../../images/service2.png" alt="Service">
                    </a>
                    <a href="#" class="title-item-service">Монтаж металлочерепицы</a>
                    <span class="info-item-service">от 256 руб/м<span>2</span></span>
                    <a href="#" class="btn-show-more btn-yellow">Подробнее...</a>
                </div>
            </div>
            <div class="col-4">
                <div class="container-item-service">
                    <a href="#" class="container-img-item-service">
                        <img src="../../images/service3.png" alt="Service">
                    </a>
                    <a href="#" class="title-item-service">Монтаж гибкой черепицы</a>
                    <span class="info-item-service">от 256 руб/м<span>2</span></span>
                    <a href="#" class="btn-show-more btn-yellow">Подробнее...</a>
                </div>
            </div>
            <div class="col-4">
                <div class="container-item-service">
                    <a href="#" class="container-img-item-service">
                        <img src="../../images/service4.png" alt="Service">
                    </a>
                    <a href="#" class="title-item-service">Монтаж композитной черепицы</a>
                    <span class="info-item-service">от 256 руб/м<span>2</span></span>
                    <a href="#" class="btn-show-more btn-yellow">Подробнее...</a>
                </div>
            </div>
            <div class="col-4">
                <div class="container-item-service">
                    <a href="#" class="container-img-item-service">
                        <img src="../../images/service5.png" alt="Service">
                    </a>
                    <a href="#" class="title-item-service">Монтаж натуральной черепицы</a>
                    <span class="info-item-service">от 256 руб/м<span>2</span></span>
                    <a href="#" class="btn-show-more btn-yellow">Подробнее...</a>
                </div>
            </div>
            <div class="col-4">
                <div class="container-item-service">
                    <a href="#" class="container-img-item-service">
                        <img src="../../images/service6.png" alt="Service">
                    </a>
                    <a href="#" class="title-item-service">Монтаж профнастила</a>
                    <span class="info-item-service">от 256 руб/м<span>2</span></span>
                    <a href="#" class="btn-show-more btn-yellow">Подробнее...</a>
                </div>
            </div>
        </div>
        <button class="show-more-services">Показать еще</button>
        <div class="container-pagination">
            <button class="next-prev-page">Предыдущая страница</button>
            <div class="container-num-pagination">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#" class="active">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <span>...</span>
                <a href="#">76</a>
            </div>
            <button class="next-prev-page">Следующая страница</button>
        </div>
    </div>
</section>
