<%= require('html-loader!./views/head.html') %>
        <%= require('html-loader!./views/header.html') %>
        <%= require('html-loader!./views/index-main-slider.html') %>
        <%= require('html-loader!./views/index-catalog.html') %>
        <%= require('html-loader!./views/about-company.html') %>
        <%= require('html-loader!./views/partners.html') %>
        <%= require('html-loader!./views/why-our-company.html') %>
        <%= require('html-loader!./views/index-contacts.html') %>
        <%= require('html-loader!./views/footer.html') %>
</body>
</html>
