<%= require('html-loader!./views/head.html') %>
<%= require('html-loader!./views/header.html') %>
<%= require('html-loader!./views/breadcrumbs.html') %>
<div class="container">
    <div class="row">
        <div class="col-9">
            <%= require('html-loader!./views/catalog-services/list-services.html') %>
            <%= require('html-loader!./views/catalog-services/description.html') %>
        </div>
        <div class="col-3">
            <%= require('html-loader!./views/catalog-services/sidebar.html') %>
        </div>
    </div>
</div>
<%= require('html-loader!./views/footer.html') %>
</body>
</html>
